header {
  

    .logo {
      width: 150px;
      margin-left: 5px;
    }
    nav {
      font-size: 18px;
    }
  }
  
  .header-actividades {
    
    h1 {
      height: 100%;
      width: 100%;
      // padding-top: 130px;
    }
    .logo {
      width: 150px;
      margin-left: 5px;
    }
    nav {
      font-size: 18px;
    }
  }