header {
  

    .logo {
      width: 150px;
      margin-left: 5px;
    }
    nav {
      font-size: 18px;
      .nav-link{
        text-align: center;
        &:hover{
          background-color: white;
          color: black;
          }
        }
      }
    }
 
  
  
  .header-actividades {
    
    h1 {
      height: 100%;
      width: 100%;
      // padding-top: 130px;
    }
    .logo {
      width: 150px;
      margin-left: 5px;
    }
    nav {
      font-size: 18px;
    }
  }