.inspiracion {
    background-color: rgb(233, 71, 12);
  .inspiracion-title {
    background-image: linear-gradient(rgba(0, 0, 0, 0.01), black),
      url(../imgs/inspiracion.jpg);
    height: 90vh;
    width: 100%;
    background-size: cover;
    object-fit: cover;
    background-position: center;
    color: $white;
  }

  .inspiracion-claves {
    img {
      width: 200px;
    }
  }
}


    .testimonios-imagenes{
        div:nth-child(1){
            background-image:
        url(../imgs/testimoniosf2.jpeg);
      height: 400px;
      width: 400px;
      background-size: cover;
      object-fit: cover;
      background-position: center;

        }
        div:nth-child(2){
            background-image:
        url(../imgs/testimonios4.jpeg);
      height: 400px;
      width: 400px;
      background-size: cover;
      object-fit: cover;
      background-position: center;

        }
        div:nth-child(3){
            background-image:
        url(../imgs/testimonios5.jpeg);
      height: 400px;
      width: 400px;
      background-size: cover;
      object-fit: cover;
      background-position: center;

        }
        div:nth-child(4){
            background-image:
        url(../imgs/testimonios2.jpeg);
      height: 400px;
      width: 400px;
      background-size: cover;
      object-fit: cover;
      background-position: center;

        }
        div:nth-child(5){
            background-image:
        url(../imgs/testimonios3.jpeg);
      height: 400px;
      width: 400px;
      background-size: cover;
      object-fit: cover;
      background-position: center;

        }
        div:nth-child(6){
            background-image:
        url(../imgs/testimonios6.jpeg);
      height: 400px;
      width: 400px;
      background-size: cover;
      object-fit: cover;
      background-position: center;

        }
        div:nth-child(7){
            background-image:
        url(../imgs/testimonios7.jpeg);
      height: 400px;
      width: 400px;
      background-size: cover;
      object-fit: cover;
      background-position: center;

        }
        div:nth-child(8){
            background-image:
        url(../imgs/testimonios8.jpeg);
      height: 400px;
      width: 400px;
      background-size: cover;
      object-fit: cover;
      background-position: center;

        }
    }



